.percent-select-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  ul {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    grid-gap: 1rem;
    li {
      button {
        padding: 0.7rem;
        width: 100%;
      }
    }
  }
}
